<div *ngIf="isError">
    <h1>Server error</h1>
    <b>{{ error }}</b>
    <br><br>
    <b>Reload the page</b>
</div>

<div *ngIf="!isError" class="site">
    <mat-card class="description" *ngIf="site">
        <mat-card-title>
            <div class="{{ visual.getColorStyleForStatusChip(site.status) }} titleCard">
                {{ site.name }}
                <mat-chip>
                    {{site.status}}
                </mat-chip>
                <small><a target="_blank" href="https://dev-russian-sites-status-api.herokuapp.com/api/sites/{{site.id}}">json</a></small>
            </div>
        </mat-card-title>
        <mat-card-content>
            <button type="button" mat-raised-button (click)="back()" class="backButton">
                Return
            </button>
            <span>Uptime for the last day: {{ site.uptime | number: '1.0-0' }}%</span>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
            Availability worldwide
        </mat-card-title>
        <mat-card-content>
            <table *ngIf="site && site.servers" mat-table [dataSource]="site.servers" class='serverListTable'>
                <ng-container matColumnDef="region">
                    <th mat-header-cell *matHeaderCellDef> Region </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.regionCode == 'novosibirsk'">
                            <b>{{element.region}}</b>
                        </div>
                        <div *ngIf="element.regionCode != 'novosibirsk'">
                            {{element.region}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <div *ngIf="element && element.status" style="content: none;" class="{{ visual.getColorStyleForStatusChip(element.status) }}">
                                <mat-chip>
                                    {{element.status}}
                                </mat-chip>
                            </div>
                        </mat-chip-list>
                    </td>
                </ng-container>

                <ng-container matColumnDef="lastTestedAt">
                    <th mat-header-cell *matHeaderCellDef> Checked </th>
                    <td mat-cell *matCellDef="let element">
                        {{getReadableTime(site.lastTestedAt)}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </mat-card-content>
    </mat-card>
</div>